
@font-face {
   
    font-family: recolaAlt;
    
    src: url(../fonts/Recoleta-RegularDEMO.otf);
  }

:root {
	/* FONT-FAMILY  */
	--ff-primary: 'Outfit', sans-serif;
	--ff-secondary: 'Anton', sans-serif;

	/* COLOR PLATE  */
	--clr-primary: #fdfbf5;
	--clr-secondary: #010a0b;
	--clr-accent: #c02a2a;

	/* FONT SIZE  */
	--fs-h1: 9.5rem;
	--fs-h2: 5rem;
	--fs-h2: 5rem;
	--fs-h3: 1.9rem;
	--fs-h4: 1.7rem;
	--fs-h5: 1.25rem;
	--fs-h6: 1rem;

    /* CUSTOM FONT SIZE */
}

/* CUSTOM PROPERTIES  */

.container {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

.headline {
	font-size: var(--fs-h1);
	color: var(--clr-secondary);
	line-height: 110%;
	font-family: var(--ff-secondary);
    text-transform: uppercase;
}

.sub-headline {
	width: 80%;
	font-size: var(--fs-h5);
	font-family: var(--ff-primary);
	font-weight: normal;
    color: var(--clr-secondary);
    text-transform: capitalize;
    padding-left: .5em;
}

.section-title {
	font-size: var(--fs-h2);
	font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    text-transform: uppercase;
    /* clip-path: ; */
    line-height: 110%;
}

/* CUSTOM CARD  */
.card{
    width: 23%;
    padding: .5rem;
}
.product-name{
    font-size: var(--fs-h3);
    color: var(--clr-secondary);
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    font-weight:500;
}
.original-price{
    color: var(--clr-accent);
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
    font-weight: 300;
    opacity: .9;
}

.discount-price{
    color: var(--clr-secondary);
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
    font-weight: 300;
    opacity: .9;
}


.btn-large{
    min-width: 220px;
    min-height: 55px;
    background-color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    font-weight: 500;
    color: var(--clr-primary);
    border: transparent;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn{
    min-width: 200px;
    min-height: 48px;
    background-color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-size: var(--fs-h6);
    font-weight: 500;
    color: var(--clr-primary);
    border: transparent;
    padding: 0;
    margin: 0;
}



section{
    background-color: var(--clr-primary);
}

