.cart-page {
	width: 100%;
}
table {
	width: 100%;
    font-family: var(--ff-secondary);
}

.cart-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;

	text-align: left;
}

th {
	text-align: left;
	padding:1rem 5px;
	color: var(--clr-secondary);
	/* background-color: var(--clr-accent); */
	text-align: center;
	font-size: var(--fs-h5);
	text-transform: uppercase;
    border: 1px solid var(--clr-secondary);

}

td {
	padding: 10px 5px;
    border: 1px solid var(--clr-secondary);
}
.product-name {
	font-size: var(--fs-h4);
	margin-left: 10px;
}
.remove-btn {
	width: 120px;
	display: block;
	margin-left: 10px;
}

small {
	font-size: var(--fs-h5);
	margin-left: 10px;
}

.button-groups {
	width: 20%;
	text-align: center;
}
.button-groups > button {
	width: 40px;
	height: 40px;
	margin: 0.5em;
	background-color: var(--clr-secondary);
	color: var(--clr-primary);
	font-weight: 600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	cursor: pointer;
}

.cart-price {
	width: 20%;
	text-align: center;
	font-size: var(--fs-h4);
	font-weight: 500;
}
.product-price{
    text-align: center;
}