.shop-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-banner>img{
    width: 100vw;
    object-fit: cover;
    height: 450px;
    clip-path: ellipse(70% 100% at 50% 0%);

}