.single-product{
    height: 400px;
border-top: 1px solid var(--clr-secondary);
border-bottom: 1px solid var(--clr-secondary);
border-left: 1px solid var(--clr-secondary);
   padding: 1em;
  
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   cursor: pointer;
   text-align: left;
   overflow: hidden;
   text-decoration: none;
}
.single-product:hover.single-product>img{
   
    rotate: 3deg;
    transition: rotate 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: rotate 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: rotate 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: rotate 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: rotate 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.single-product>img{
    width: 300px;
    height: 300px;
   
    border: 1px solid var(--clr-secondary);
  
}


@media (max-width:600px) {
 
    .single-product{
  width: 90%;
  border-right: 1px solid var(--clr-secondary);
  align-items: center;
     
    }
    .single-product>img{
        width: 80%;
        height: 300px;
       
        border: 1px solid var(--clr-secondary);
        /* border: 0; */
      
    }
}